
<header>
<!--  <mdb-navbar class="navbar navbar-expand-lg navbar-white fixed-top scrolling-navbar">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand" href="#">-->
<!--          <img src="/logo.png" height="80px" class="d-inline-block align-top" alt="mdb logo" >-->
<!--        </a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"aria-expanded="false" aria-label="Toggle Navigation">-->
<!--        <span class="navbar-toggler-icon"><i class="fas fa-bars"style="color: #ffffff;"></i></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="basicExampleNav">-->
<!--        <ul class="navbar-nav mr-auto smooth-scroll">-->
<!--          <li class="nav-item">-->
<!--            <a href="#best-features" class="nav-link waves-effect waves-light white-text">О САЛОНЕ</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#services" class="nav-link waves-effect waves-light white-text">УСЛУГИ</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#stock" class="nav-link waves-effect waves-light white-text">АКЦИИ</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#vacancy" class="nav-link waves-effect waves-light white-text">ВАКАНСИИ</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#5" class="nav-link waves-effect waves-light white-text">КОНТАКТЫ</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <ul class="navbar-nav nav-flex-icons align-items-center">-->
<!--          <li class="nav-item">-->
<!--            <a href="Tel:29-89-13" class="nav-link waves-effect waves-light" style="color: #fff;">29-89-13</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="Tel:42-94-56" class="nav-link waves-effect waves-light" style="color: #fff;">42-94-56</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--            <a href="https://www.instagram.com/salon_cleo_astrakhan/?hl=ru" class="nav-link waves-effect waves-light">-->
<!--              <i class="fab fa-instagram" style="color: #ffffff;"></i>&lt;!&ndash;  https://fontawesome.com/ &ndash;&gt;-->

<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="https://vk.com/public64140679" class="nav-link waves-effect waves-light">-->
<!--              <i class="fab fa-vk" style="color: #ffffff;"></i>-->

<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#sideMenuModal" class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#sideMenuModal">-->
<!--              <button mdbBtn class="btn btn-outline-white waves-effect waves-light">ЗАПИСАТЬСЯ ОНЛАЙН</button>-->
<!--              &lt;!&ndash;              <button mdbBtn color="success" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>Search</button>&ndash;&gt;-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mdb-navbar>-->
<!--  <div id="intro" class="view">-->
<!--    <div class="mask rgba-black-strong">-->
<!--      <div class="container-fluid d-flex align-items-center justify-content-center h-100">-->
<!--        <div class = "row d-flex justify-content-center text-center">-->
<!--          <div class="col-md-12">-->
<!--            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">-->
<!--              CLEO-->
<!--            </h2>-->
<!--            <hr class="hr-light"> &lt;!&ndash; линия &ndash;&gt;-->
<!--            <h4 class="white-text mc-4">Салон красоты</h4>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <img src="https://cloclo19.cloud.mail.ru/inline/img/logo.png?etag=DF47AC8E00423C444CED0244BA3DC2798EB74927&x-email=taliasaz%40bk.ru" height="70px" alt="">
      </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>

      <!-- Links -->

      <div class="collapse navbar-collapse" id="basicExampleNav">
                <ul class="navbar-nav mr-auto smooth-scroll">
                  <li class="nav-item">
                    <a href="#best-features" class="nav-link waves-light nav-link waves-effect waves-light white-text">О САЛОНЕ</a>
                  </li>
                  <li class="nav-item">
                    <a href="#services" class="nav-link waves-light nav-link waves-effect waves-light white-text">УСЛУГИ</a>
                  </li>
                  <li class="nav-item">
                    <a href="#stock" class="nav-link waves-light nav-link waves-effect waves-light white-text">АКЦИИ</a>
                  </li>
<!--                  <li class="nav-item">-->
<!--                    <a href="#vacancy" class="nav-link waves-effect waves-light white-text">ВАКАНСИИ</a>-->
<!--                  </li>-->
                  <li class="nav-item">
                    <a href="#5" class="nav-link waves-light nav-link waves-effect waves-light white-text">КОНТАКТЫ</a>
                  </li>
                </ul>

                <ul class="navbar-nav nav-flex-icons align-items-center">
                  <li class="nav-item">
                    <a href="Tel:29-89-13" target="_blank" class="nav-link waves-effect waves-light" style="color: #fff;">29-89-13</a>
                  </li>
                  <li class="nav-item">
                    <a href="Tel:42-94-56" target="_blank" class="nav-link waves-effect waves-light" style="color: #fff;">42-94-56</a>
                  </li>

                  <li class="nav-item">
                    <a href="https://www.instagram.com/salon_cleo_astrakhan/?hl=ru" target="_blank" class="nav-link waves-effect waves-light">
                      <i class="fab fa-instagram" style="color: #ffffff;"></i><!--  https://fontawesome.com/ -->

                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://vk.com/public64140679" target="_blank" class="nav-link waves-effect waves-light">
                      <i class="fab fa-vk" style="color: #ffffff;"></i>

                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#sideMenuModal" class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#sideMenuModal">
<!--                      <button mdbBtn class="btn btn-outline-white waves-effect waves-light">ЗАПИСАТЬСЯ ОНЛАЙН</button>-->
                      <!--              <button mdbBtn color="success" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>Search</button>-->
                      <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" class="btn btn-outline-white waves-effect waves-light" data-target="#basicExample"
                              (click)="frame.show()" mdbWavesEffect>ЗАПИСАТЬСЯ ОНЛАЙН
                      </button>
                    </a>
                  </li>
                </ul>
              </div>
    </links>
  </mdb-navbar>
    <div id="intro" class="view">
      <div class="mask rgba-black-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
          <div class = "row d-flex justify-content-center text-center">
            <div class="col-md-12">
              <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                CLEO
              </h2>
              <hr class="hr-light"> <!-- линия -->
              <h4 class="white-text mc-4">Салон красоты</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

</header>

<main class="mt-5">
  <div class="container">
    <section id="best-features" class="text-center">
      <h2 class="mb-5 font-weight-bold">О САЛОНЕ</h2>
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-9">
          <p class="grey-text">
            Каждый день мы открываем двери нашего салона красоты для того, чтобы подарить нашим клиентам удовольствие быть красивыми!<br>

            Каждый человек, а особенно женщина, хочет время от времени изменить свою внешность.

            От того, как мы выглядим, может зависеть наше настроение, поэтому иногда хочется полностью преобразиться из брюнетки с кудрями в яркую блондинку с длинными прямыми волосами, сделать роскошную вечернюю модную прическу или задорную стрижку.

            Каковы бы ни были Ваши желания, их можно воплотить в нашем салоне красоты. Мы не только сможем преобразить Вашу внешность по желанию, но еще и создадим ваш неповторимый облик и оздоровим организм.

            В нашем салоне Вы можно воспользоваться услугами парикмахеров по уходу, лечению, восстановлению волос, стрижке, а также по окрашиванию, мелированию, тонированию и пр. парикмахерских процедур. Также Вы сможете получить косметологические услуги, сделать маникюр, педикюр, нарастить реснички, нанести блеск-тату и сделать вечерний макияж с укладкой.
          </p>
        </div>
      </div>
    </section>





<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://thumb.cloud.mail.ru/thumb/xw1/img/2.jpg?x-email=taliasaz%40bk.ru" alt="First slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://thumb.cloud.mail.ru/thumb/xw1/img/4.jpg?x-email=taliasaz%40bk.ru" alt="Second slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://thumb.cloud.mail.ru/thumb/xw1/img/3.jpg?x-email=taliasaz%40bk.ru" alt="Third slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>


    </mdb-carousel>
<!-- -&#45;&#45;-->









<!-- -&#45;&#45;    -->

      <!--<hr class="my-1">-->
<!--          <h5 class="mb-0" class="text-left">-->
<!--            <div class="dropdown" mdbDropdown>-->
<!--            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color:#000000;" class="text-left">-->
<!--              Парикмахерский зал-->
<!--            </a>-->
<!--              <button mdbDropdownToggle type="button" mdbBtn color="white" class="col-md-12 mx-auto mb-5 d-flex justify-content-left align-items-center flex-wrap dropdown-toggle waves-light"-->
<!--                      >-->
<!--                Парикмахерские услуги-->
<!--              </button>-->
<!--              <div class="dropdown-menu">-->
<!--                <a class="dropdown-item " href="#">Regular link</a>-->
<!--                <a class="dropdown-item disabled" href="#">Disabled link</a>-->
<!--                <a class="dropdown-item" href="#">Another link</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </h5>-->
    <section id="services" class="mt-5" >
      <h2 class="mb-5 font-weight-bold text-center">УСЛУГИ</h2>
            <table mdbTable hover="true">
              <thead>
              <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
              </thead>
              <tbody>
              <tr mdbTableCol *ngFor="let el of elements">
                <th scope="row">{{el.id}}</th>
                <td>{{el.first}}</td>
                <td>{{el.last}}</td>
                <td>{{el.handle}}</td>
              </tr>
              </tbody>
            </table>
    </section>

<!-- -&#45;&#45;&#45;&#45;-->

<!-- -&#45;&#45;-->
    <div class="mt-5">
      <section id="stock" class="text-center" >
        <h2 class="mb-5 font-weight-bold text-center">АКЦИИ</h2>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="view overlay zoom">
              <img src="https://images.unsplash.com/photo-1497433550656-7fb185be365e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="img-fluid">
              <div class="mask flex-center"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Акция</h4>
            <p class="grey-text">Абсолютное счастье для волос</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="view overlay zoom">
              <img src="https://images.unsplash.com/photo-1562259920-47afc3030ba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="img-fluid">
              <div class="mask flex-center"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Акция</h4>
            <p class="grey-text">Уход для волос</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="view overlay zoom">
              <img src="https://images.unsplash.com/photo-1470072508653-1be229b63562?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="img-fluid">
              <div class="mask flex-center"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Акция</h4>
            <p class="grey-text">Перманентный макияж бровей</p>
          </div>

        </div>
      </section>
    </div>



    <!--         <hr class="my-5"> -->
<!--&#45;&#45;-->

    <!-- -&#45;&#45;-->

<!--    <ng-template #content let-modal>-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>-->
<!--        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form>-->
<!--          <div class="form-group">-->
<!--            <label for="dateOfBirth">Date of birth</label>-->
<!--            <div class="input-group">-->
<!--              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">-->
<!--              <div class="input-group-append">-->
<!--                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
<!--      </div>-->
<!--    </ng-template>-->

<!--    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->

<!--    <hr>-->

<!--    <pre>{{closeResult}}</pre>-->

<!--    &#45;&#45;-->

    <section id="contact" class="mt-5">
      <h2 class="mb-5 font-weight-bold text-center">КОНТАКТЫ</h2>
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <form class="p-5">
            <div class="text-left mt-4">
              <div class="row text-left">
                <div class="col-lg-12 col-md-12 mb-3">
                  <p><i class="fas fa-map-marker-alt fa-1x mr-3 grey-text"></i>Воробьева проезд, 9, Астрахань</p>
                  <p><i class="fas fa-phone-alt fa-1x mr-3 grey-text"></i>Tel: 29-89-13</p>

                  <i class="fa-1x mr-3 grey-text"></i>

                  <p><i class="fas fa-map-marker-alt fa-1x mr-3 grey-text"></i>Космонавта В.Комарова ул.61, Астрахань</p>
                  <p><i class="fas fa-phone-alt fa-1x mr-3 grey-text"></i>Tel: 42-94-56</p>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-7 col-md-12">
          <div id="map-container-google-1" class="map-container" style="height: 400px">
            <iframe src="https://www.google.com/maps/d/embed?mid=1oSLsxT6Kp5dm6iBSFXzx0ZKtJPd4NiUt" width="640" height="480" ></iframe>
          </div>
        </div>
      </div>
    </section>

    <div class="mt-5"></div>

    <!-- Default form subscription -->
    <!-- Default form subscription -->
    <!--    <div class="row">-->
    <!--      <div class="col-md-6">-->
    <!--        <mdb-select [options]="optionsSelect" placeholder="Choose your option"></mdb-select>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</main>



<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->


<!--<mdb-card>-->


<!--<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"-->
<!--        (click)="frame.show()" mdbWavesEffect>Launch Modal-->
<!--</button>-->

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Запись</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
<!--          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>-->
          <input type="text" id="orangeForm-name" class="form-control" (keyup)="todosService.onNameKeyUp($event)" mdbInput mdbValidate>
          <label for="orangeForm-name">Введите свое имя</label>
          <mdb-error *ngIf="signupFormModalName.invalid && (signupFormModalName.dirty || signupFormModalName.touched)">
            Неверный ввод
          </mdb-error>
          <mdb-success *ngIf="signupFormModalName.valid && (signupFormModalName.dirty || signupFormModalName.touched)">
            Неверный ввод
          </mdb-success>
        </div>
        <div class="md-form mb-5">
<!--          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>-->
          <input type="number" id="orangeForm-number" class="form-control" [formControl]="signupFormModalNumber"
                 mdbInput mdbValidate>
          <label for="orangeForm-number">Введите свой номер телефона</label>
<!--          <mdb-error-->
<!--            *ngIf="signupFormModalNumber.invalid && (signupFormModalNumber.dirty || signupFormModalNumber.touched)">Неверный ввод-->
<!--          </mdb-error>-->
<!--          <mdb-success-->
<!--            *ngIf="signupFormModalNumber.valid && (signupFormModalNumber.dirty || signupFormModalNumber.touched)">Верный ввод-->
<!--          </mdb-success>-->
        </div>

        <div class="md-form mb-5">
<!--          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>-->
          <input type="date" id="orangeForm-pass" class="form-control" [formControl]="signupFormModalPassword"
                 mdbInput mdbValidate>
          <label for="orangeForm-pass">Выберите дату</label>
          <mdb-error
            *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
            Неверный ввод
          </mdb-error>
          <mdb-success
            *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
            Верный вод
          </mdb-success>
        </div>


        <label for="orangeForm-pass">Выберите зал</label>
        <div class="md-form mb-5">
          <div class="form-group">
            <select class="browser-default custom-select" placeholder="Choose your option" label="Example label">
              <option *ngFor="let todo of todosService.job; let i = index">
                {{todo.jobTitle}}
              </option>
            </select>
<!--            <mdb-error-->
<!--              *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">-->
<!--              Неверный ввод-->
<!--            </mdb-error>-->
<!--            <mdb-success-->
<!--              *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">-->
<!--              Верный вод-->
<!--            </mdb-success>-->
          </div>
        </div>

        <mdb-checkbox [inline]="true" [default]="true">Стрижка мужская</mdb-checkbox>
        <!-- Default inline 2-->
        <br>
        <mdb-checkbox [inline]="true" [default]="true">Стрижка женская</mdb-checkbox>
        <!-- Default inline 3-->
        <br>
        <mdb-checkbox [inline]="true" [default]="true">Укладка волос</mdb-checkbox>
        <br>
        <mdb-checkbox [inline]="true" [default]="true">Прическа женская</mdb-checkbox>
        <br>
        <mdb-checkbox [inline]="true" [default]="true">Маникюр </mdb-checkbox>
        <br>
        <mdb-checkbox [inline]="true" [default]="true">Педикюр</mdb-checkbox>
        <br>
        <mdb-checkbox [inline]="true" [default]="true">Наращивание ногтей</mdb-checkbox>
        <br>
        <mdb-checkbox [inline]="true" [default]="true">Окраска бровей</mdb-checkbox>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn style="background:#f2c6ac;" class="waves-light" mdbWavesEffect>ЗАПИСАТЬСЯ</button>
      </div>
    </div>

  </div>
</div>
<!--<div>-->
<!--  <ul class="list-group">-->
<!--    <li *ngFor = "let symbol of response"-->
<!--        class="list-group-item">-->
<!--&lt;!&ndash;      {{symbol.endDate}}&ndash;&gt;-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->


<!--<div class="col-sm-6">-->
<!--  <div class="form-group">-->
<!--    <label for="firstName">Введите свое имя <span class="required"> *</span>-->
<!--    </label>-->
<!--    <input ng-model="booking.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="" />-->
<!--  </div>-->
<!--</div>-->




<!--</mdb-card>-->

<br>


<!--<div class="form-group">-->
<!--  <label>Имя</label>-->
<!--  <input class="form-control" name="username" [(ngModel)]="todosService.postData('id')"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <label>Возраст</label>-->
<!--  <input class="form-control" type="number" name="age" [(ngModel)]="user.age" />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <button class="btn btn-default" (click)="submit(user)">Отправить</button>-->
<!--</div>-->

<!--<input type="text" (keyup)="todosService.onNameKeyUp($event)">-->
<!--<button (click)="todosService.getProfile()">Записаться</button>-->

<!--<button (click)="todosService.postProfile()">Записаться</button>-->

<!--<button (click)="todosService.postData()">Отправить</button>-->


